<!DOCTYPE html>
<html xmlsn="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>勤怠履歴</title>
	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
	<meta name="viewpoint" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul th:with="thisMonth=${#dates.month(#dates.createNow())}">
				<div
				 th:each="month:${#numbers.sequence(1,thisMonth)}" style="display:inline">
					<li><a th:href="@{./{month}" th:text="|${month}月|"></a></li>
				</div>
				<li class="li-admin">
					<form method="post" name="logout" th:action="@{/logout}">
						<a href="javascript:logout.submit()">ホームへ戻る</a>
					</form>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<h1>勤怠履歴</h1>
		<p th:if="${message}" th:text="${message}" style="color:blue">完了メッセージ</p>
		<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red">エラーメッセージ</p>
		<table class="history">
			<thead>
				<tr>
					<th>日付</th>
					<th>名前</th>
					<th>出勤時刻</th>
					<th>退勤時刻</th>
					<th>実働時間</th>
					<th>修正</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="history:${histories}">
					<th:block th:object="${history}">
						<td th:text="*{#temporals.format(date,'MM/dd')}"></td>
						<td th:text="*{employee.name}"></td>
						<td th:text="*{start}"></td>
						<td th:text="*{end}"></td>
						<td th:text="*{workTime}"></td>
					</th:block>
				</tr>
			</tbody>
		</table>
	</article>
</body>

</html>