<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.AttendanceManagementMapper">
	<resultMap id="ShiftAndTimestampWithEmployeeResult"
		type="com.example.webapp.entity.ShiftAndTimestamp">
		<id property="id" column="id" />
		<result property="date" column="date" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<result property="workTime" column="work_time"/>
		<result property="created_at" column="created_at" />
		<result property="updated_at" column="updated_at" />
		<association property="employee"
			javaType="com.example.webapp.entity.Employee">
			<id property="id" column="employee_id" />
			<result property="name" column="name" />
		</association>
	</resultMap>

	<select id="selectAllHistoriesToDateByMonth"
		resultMap="ShiftAndTimestampWithEmployeeResult">
	<![CDATA[SELECT x.id,date,start,end,SUBTIME(end,start) as work_time,
	x.created_at,x.updated_at,employee_id,name
	FROM test_shifts_and_timestamps x
	INNER JOIN test_employees_list y
	ON x.employee_id=y.id
	WHERE MONTH(date)=#{targetMonth}
	ORDER BY date ASC;
	]]>
	</select>

	<select id="selectHistoryToDateByEmployeeIdAndMonth"
		resultMap="ShiftAndTimestampWithEmployeeResult">
	<![CDATA[SELECT x.id,date,start,end,SUBTIME(end,start) as work_time,
	x.created_at,x.updated_at,employee_id,name 
	FROM test_shifts_and_timestamps x
	INNER JOIN test_employees_list y
	ON x.employee_id=y.id
	WHERE MONTH(date)=#{targetMonth}
	and employee_id=#{employeeId}]]>
	</select>
</mapper>