<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.EmployeesManagementMapper">
	<select id="selectLoginUserById"
		resultType="com.example.webapp.entity.Authentication">
		SELECT id,password,authority,name
		FROM test_employees_list
		WHERE
		id=#{employeeId}
	</select>
	<select id="selectEmployeeById">
		SELECT *
		FROM test_employees_list
		WHERE
		id=#{employee_id};
	</select>
	<select id="selectAllEmployees">
		SELECT *
		FROM test_employees_list;
	</select>
	<insert id="insertEmployee">
		INSERT INTO test_employees_list
		VALUES(#{id},#{password},#{name},#{tel},#{address});
	</insert>
	<update id="updateEmployee">
		UPDATE test_employees_list
		SET
		password=#{password},name=#{name},tel=#{tel},address=#{address}
		WHERE
		id=#{id};
	</update>
	<delete id="deleteEmployee">
		DELETE FROM test_employees_list
		WHERE id=#{id};
	</delete>
</mapper>