<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.EmployeesManagementMapper">
	
<!--	使っていない-->
<!--	<select id="selectLoginUserById"-->
<!--		resultType="com.example.webapp.entity.Authentication">-->
<!--		SELECT-->
<!--		  id-->
<!--		  ,password-->
<!--		  ,authority-->
<!--		  ,name-->
<!--		FROM-->
<!--		  test_employees-->
<!--		WHERE-->
<!--		  id = #{employeeId}-->
<!--		;-->
<!--	</select>-->

	<resultMap id="EmployeeMap" type="com.example.webapp.entity.Employee">
		<id property="employeeId" column="id"/>
	</resultMap>
	
	<select id="selectEmployeeById" resultMap="EmployeeMap">
		SELECT
		  *
		FROM
		  test_employees
		WHERE
		  id = #{employeeId}
		;
	</select>
	
	<select id="selectAllIdAndName" resultMap="EmployeeMap">
		SELECT
		  id,name
		FROM
		  test_employees
		;
	</select>
	
	<select id="selectAllEmployees" resultMap="EmployeeMap">
		SELECT
		  *
		FROM
		  test_employees
		;
	</select>
	
	<select id="selectEmployeeIdByName">
		SELECT
		  id AS employeeId
		FROM
		  test_employees
		WHERE
		  name = #{name}
		;
	</select>
	
	<insert id="insertEmployee">
		INSERT INTO
		  test_employees (
		    name ,birth ,password ,tel ,address 
		    ,authority ,created_at ,updated_at ,password_updated_at
		  )
		VALUES (
		  #{name} ,#{birth} ,#{password} ,#{tel} ,#{address}
		  ,#{authority} ,now() ,now() ,now()
		)
		;
	</insert>
	
	<update id="updateEmployee">
		UPDATE
		  test_employees
		SET
		  name = #{name}
		  ,birth = #{birth}
		  ,tel = #{tel}
		  ,address = #{address}
		  ,updated_at = now()
		WHERE
		  id = #{employeeId}
		;
	</update>
	
	<delete id="deleteEmployeeById">
		DELETE FROM
		  test_employees
		WHERE
		  id = #{employeeId}
		;
	</delete>
	
</mapper>