<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.ShiftManagementMapper">
	<resultMap id="EntityForFullCalendarResult"
		type="com.example.webapp.entity.EntityForFullCalendar">
		<result property="title" column="name" />
		<result property="start" column="date" />
	</resultMap>

	<select id="selectAllShifts"
		resultMap="EntityForFullCalendarResult">
		SELECT x.id,name,DATE_FORMAT(date,'%Y-%m-%d') as date
		FROM
		temp_shifts_and_timestamps x
		INNER JOIN test_employees_list y
		ON
		x.employee_id=y.id;
	</select>

	<select id="selectEmployeeById">
		SELECT id,name
		FROM test_employees_list
		WHERE
		id=#{employee_id};
	</select>

	<select id="selectRequestsByEmployeeId" resultMap="EntityForFullCalendarResult">
		SELECT id,date
		FROM requests
		WHERE employee_id=#{employeeId};
	</select>

	<insert id="insertShiftRequests" parameterType="list">
		INSERT INTO requests(employee_id, date) VALUES
		<foreach collection="dates" item="d" separator=",">
			(#{employee_id}, #{d})
		</foreach>
	</insert>

	<delete id="deleteRequestsByEmployeeId">
	DELETE FROM requests
	WHERE employee_id=#{employeeId}
	</delete>
</mapper>