<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.TimeRecorderMapper">

	<resultMap id="ShiftWithEmployeeResult"
		type="com.example.webapp.entity.Shift">
		<id property="id" column="id" />
		<result property="date" column="date" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<association property="employee"
			javaType="com.example.webapp.entity.Employee">
			<id property="id" column="employee_id" />
			<result property="name" column="name" />
		</association>
	</resultMap>

	<!--当日出勤者選択 -->
	<select id="selectTodaysEmployees"
		resultMap="ShiftWithEmployeeResult">
		SELECT e.name,s.start,s.end
		FROM test_employees_list e
		INNER JOIN test_shift_and_timestamp2504 s
		ON e.id=s.employee_id
		WHERE
		s.date=CURRENT_DATE;
	</select>
	<!-- 出勤の打刻 -->
	<insert id="start">
		INSERT INTO test_shift_and_timestamp2504(start)
		VALUES(CURRENT_TIME)
		WHERE id=#{id};
	</insert>
	<!-- 退勤の打刻 -->
	<update id="end">
		UPDATE test_shift_and_timestamp2504(end)
		VALUES(CURRENT_TIME)
		WHERE id=#{id};
	</update>
</mapper>