<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.TimeRecorderMapper">

	<resultMap id="ShiftAndTimestampWithEmployeeResult"
		type="com.example.webapp.entity.ShiftAndTimestamp">
		<id property="id" column="id" />
		<result property="date" column="date" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<association property="employee"
			javaType="com.example.webapp.entity.Employee">
			<id property="id" column="employee_id" />
			<result property="name" column="name" />
		</association>
	</resultMap>

	<!--当日出勤者選択 -->
	<select id="selectEmployeesByDate"
		resultMap="ShiftAndTimestampWithEmployeeResult">
		SELECT e.name,s.date,s.start,s.end
		FROM test_employees_list e
		INNER
		JOIN test_shift_and_timestamp2504 s
		ON e.id=s.employee_id
		WHERE
		s.date=#{date};
	</select>
	<!-- シフトデータの抽出 -->
	<!-- 下のstartやendでの使用が想定されるが、もし打刻時のみの使用ならdate=CURRENT_DATEでもいい気はする -->
	<select id="selectShiftAndTimestampByEmployeeIdAndDate"
		resultMap="ShiftAndTimestampWithEmployeeResult">
		SELECT id
		FROM test_shift_and_timestamp2504
		WHERE
		employee_id=#{employee_id} and date=#{date};
	</select>
	<!-- 出勤の打刻 -->
	<insert id="start">
		UPDATE test_shift_and_timestamp2504
		SET start=CURRENT_TIME
		WHERE
		id=#{id};
	</insert>
	<!-- 退勤の打刻 -->
	<update id="end">
		UPDATE test_shift_and_timestamp2504
		SET end=CURRENT_TIME
		WHERE id=#{id};
	</update>
</mapper>