<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.WorkHistoryManagementMapper">
	<resultMap id="ShiftAndTimeRecordWithEmployeeResult"
		type="com.example.webapp.entity.ShiftAndTimeRecord">
		<id property="shiftId" column="id" />
		<result property="date" column="date" />
		<result property="start" column="start" />
		<result property="end" column="end" />
		<result property="workTime" column="work_time"/>
		<result property="created_at" column="created_at" />
		<result property="updated_at" column="updated_at" />
		<association property="employee"
			javaType="com.example.webapp.entity.Employee">
			<id property="employeeId" column="employee_id" />
			<result property="name" column="name" />
		</association>
	</resultMap>
	
	<resultMap id="EmployeeMap" type="com.example.webapp.entity.Employee">
		<id property="employeeId" column="id"/>
	</resultMap>

	<select id="selectAllWorkHistoriesToDateByMonth"
		resultMap="ShiftAndTimeRecordWithEmployeeResult">
	SELECT
	  s.id
	  ,s.date
	  ,s.start
	  ,s.end
	  ,SUBTIME(s.end,s.start) AS work_time
	  ,s.created_at
	  ,s.updated_at
	  ,s.employee_id
	  ,e.name
	FROM
	  test_shifts_and_time_records AS s
	  INNER JOIN test_employees AS e
 	  ON s.employee_id = e.id
	WHERE
	  MONTH(s.date) = #{targetMonth}
	ORDER BY s.date ASC
	;
	</select>

	<select id="selectPersonalWorkHistoriesToDateByEmployeeIdAndMonth"
		resultMap="ShiftAndTimeRecordWithEmployeeResult">
	SELECT
	  s.id
	  ,s.date
	  ,s.start
	  ,s.end
	  ,SUBTIME(s.end,s.start) AS work_time
	  ,s.created_at
	  ,s.updated_at
	  ,s.employee_id
	  ,e.name 
	FROM
	  test_shifts_and_time_records AS s
	  INNER JOIN test_employees e
	  ON s.employee_id=e.id
	WHERE
	  MONTH(s.date) = #{targetMonth}
	  AND s.employee_id = #{employeeId}
	;
	</select>
	
	<select id="selectWorkedEmployeesByMonth" resultMap="EmployeeMap">
	SELECT
	  DISTINCT e.id
	  ,e.name
	FROM
	  test_shifts_and_time_records s
	  INNER JOIN test_employees e
	  ON s.employee_id = e.id
	WHERE
	  MONTH(s.date) = #{targetMonth}
	;
	</select>
	
	<select id="selectWorkHistoryByShiftId" resultMap="ShiftAndTimeRecordWithEmployeeResult">
	SELECT
	  s.id
	  ,s.date
	  ,s.start
	  ,s.end
	  ,s.employee_id
	  ,e.name
	FROM
	  test_shifts_and_time_records AS s
	  INNER JOIN test_employees AS e
 	  ON s.employee_id = e.id
	WHERE
	  s.id = #{shiftId}
	;
	</select>
	
<!--	「updatedStart」とかのほうがわかりやすいが、フォームクラスのフィールド名がstart,end,idなのでそのまま利用-->
	<update id="updateWorkHistory">
	UPDATE
	  test_shifts_and_time_records
	SET
	  start = #{start}
	  ,end = #{end}
	  ,updated_at = NOW()
	WHERE
	  id = #{shiftId}
	;
	</update>
	
</mapper>