<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <title>打刻実行</title>
    <meta charset="utf-8">
    <link th:rel="stylesheet" href="/css/mystyle.css">
    <meta name="viewpoint" content="width=device-width">
	<meta http-equiv="refresh" content="3;url=/time-recorder">
</header>

<body>
    <p>[[${message}]]しました。
        <span th:text="${message}=='出勤'?'おはようございます！':'おつかれさまでした！'
		"></span>
		<br><br>3秒後に自動で遷移します。
    </p>
	<p><a th:href="@{/time-recorder}" th:text="タイムレコーダーに戻る"></a></p>
</body>

</html>