<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="utf-8">
	<title>欠勤申請一覧</title>
	<link rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li sec:authorize="!hasAuthority('ADMIN')">
					<a th:href="@{/absence-application/request}">新規申請</a>
				</li>
				<li class="li-index">
					<a th:href="${#authorization.expression('hasRole(''ADMIN'')')}
					? @{/admin}:@{/user}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<h1>欠勤申請一覧</h1>
		<p th:if="${message}" th:text="${message}" class="message">完了メッセージ</p>
		<p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message">エラーメッセージ</p>
		<table style="width:auto">
			<thead>
				<tr>
					<th>申請ID</th>
					<th>出勤予定日</th>
					<th>従業員名</th>
					<th>欠勤理由</th>
					<th>詳細</th>
					<th sec:authorize="!hasAuthority('ADMIN')">取消</th>
					<th sec:authorize="hasAuthority('ADMIN')">申請日時</th>
					<th sec:authorize="hasAuthority('ADMIN')">決裁日時</th>
					<th sec:authorize="hasAuthority('ADMIN')">許可</th>
					<th sec:authorize="hasAuthority('ADMIN')">不許可</th>
					<th>申請結果</th>
				</tr>
			</thead>
			<tbody class="employee-list">
<!--				「application」という変数にしたらエラーになったのでappにした-->
				<tr th:each="app:${applications}">
					<th:block th:object="${app}">
						<td th:text="*{applicationId}"></td>
						<td th:text="*{shiftSchedule.date}"></td>
						<td th:text="*{employee.name}"></td>
						<td th:text="*{absenceReason.name}"></td>
						<td th:text="*{detail}"></td>
						<td sec:authorize="!hasAuthority('ADMIN')"><a
								th:href="@{/absence-application/delete/{application-id}(application-id=*{applicationId})}">削除</a>
						</td>
						<td sec:authorize="hasAuthority('ADMIN')"
							th:text="*{#temporals.format(createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td sec:authorize="hasAuthority('ADMIN')"
							th:text="*{#temporals.format(updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<form th:action="@{/absence-application/decision}" method="post">
								<input type="hidden" th:name="shiftId" th:value="*{shiftSchedule.shiftId}">
								<button type="submit" th:name="decision" th:value="true">許可</button>
							</form>
						</td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<form th:action="@{/absence-application/decision}" method="post">
								<input type="hidden" th:name="shiftId" th:value="*{shiftSchedule.shiftId}">
								<button type="submit" th:name="decision" th:value="false">不許可</button>
							</form>
						</td>
						<!--						<td th:text="*{isApprove}=='true'?'許可':'不許可'"></td>-->
						<div th:switch="*{isApprove}">
							<td th:case="true" th:text="許可"></td>
							<td th:case="false" th:text="不許可"></td>
							<td th:case="*"></td>
						</div>
					</th:block>
				</tr>
			</tbody>
		</table>
	</article>
</body>

</html>