<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<link rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
	<title>シフト作成画面</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-index">
					<a th:href="@{/shift}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<p th:if="${message}" th:text="${message}" class="message"></p>
		<p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
		<div th:unless="${state}=='CONFIRM'">
			<div th:if="${state}=='NEW'">
				<p>シフト提出期限:&nbsp;<span th:text="${deadLine}"></span></p>
				<p>未提出者:
					<span th:each="employee : ${notSubmits}" th:text="|${employee.name}&nbsp;&nbsp;|"
						class="error-message"></span>
				</p>
			</div>
			<form id="shift-form" th:action="@{/shift/create/submit}" method="post" class="shift-create">
				<input type="hidden" name="selectedDatesJson" id="selectedDatesInput" value="[]">
				<input type="hidden" name="state" th:value="${state}">
				<input type="hidden" name="month" th:value="${month}">
				<input type="submit" th:value="${state}=='NEW'?'作成':'更新'">
				<div class="shift-edit-draggable">
					<div id="external-events">
						<p>
							<strong>従業員</strong>
						</p>
						<div class="fc-event fc-h-event fc-daygrid-event" th:each="employee:${allEmployees}">
							<div class="fc-event-main" th:id="${employee.employeeId}">
								<span th:text="${employee.name}"></span>
							</div>
						</div>
					</div>
					<div id="calendar" class="shift-edit"></div>
				</div>
			</form>
			<script th:src="@{/js/shift/create-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${requests}]],[[${month}]]*/)});
			</script>
		</div>
		<div th:if="${state}=='CONFIRM'">
			<p>来月のシフトは以下の日程で作成済みです</p>
			<p>変更はありますか？</p>
			<div class="shift-confirm">
				<a th:href="@{/shift/create/edit/{month}(month=${month})}">ある</a>
				<a th:href="@{/shift}">ない</a>
			</div>
			<div id="calendar" class="shift-edit"></div>
			<script th:src="@{/js/shift/confirm-create-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${nextMonthShifts}]]*/)});
			</script>
		</div>
	</article>
</body>

</html>