<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.TimeRecorderMapper">

	<resultMap id="ShiftWithEmployeeAndTimeRecordResult"
		type="com.example.webapp.entity.ShiftSchedule">
		<id property="shiftId" column="id" />
		<association property="employee"
			javaType="com.example.webapp.entity.Employee">
			<id property="employeeId" column="employee_id" />
			<result property="name" column="name" />
		</association>
		<association property="timeRecord"
			javaType="com.example.webapp.entity.TimeRecord">
			<result property="clockIn" column="clock_in"/>
			<result property="clockOut" column="clock_out"/>
			<result property="workTime" column="work_time"/>		
		</association>
	</resultMap>

	<!--当日出勤者選択 -->
	<select id="selectByDate"
		resultMap="ShiftWithEmployeeAndTimeRecordResult">
		SELECT
		  s.employee_id
		  ,e.name
		  ,t.clock_in
		  ,t.clock_out
		  ,SUBTIME(t.clock_out,t.clock_in) AS work_time
		FROM
		  shift_schedules AS s
		  LEFT JOIN time_records AS t
		  ON s.date=t.date
		     AND s.employee_id=t.employee_id
		  INNER JOIN employees AS e
 		  ON s.employee_id = e.id		  
		WHERE
		  s.date = #{date}
		;
	</select>
	<!-- シフトデータの抽出 -->
	<select id="selectAMenberOfTodayEmployeesByEmployeeId">
		SELECT
		  s.employee_id as employeeId
		  ,e.name 
		FROM
		  employees AS e
		  INNER JOIN shift_schedules AS s
		  ON e.id = s.employee_id
		WHERE
		  employee_id = #{employeeId}
		  AND date = CURRENT_DATE
		;
	</select>
<!--	打刻データの抽出-->
	<select id="selectTodayTimeRecordByEmployeeId">
		SELECT
		  clock_in AS clockIn
		  ,clock_out AS clockOut
		FROM
		  time_records
		WHERE
		  employee_id = #{employeeId}
		  AND date = CURRENT_DATE
		;
	</select>
	<!-- 出勤の打刻 -->
	<update id="insert">
		INSERT INTO 
		  time_records(date, employee_id, clock_in, created_at, updated_at)
		VALUE
		  (CURRENT_DATE ,#{employeeId} ,CURRENT_TIME, now(), now())
		 ;
	</update>
	<!-- 退勤の打刻 -->
	<update id="update">
		UPDATE
		  time_records
		SET
		  clock_out=CURRENT_TIME
		WHERE
		  employee_id = #{employeeId}
		  AND date = CURRENT_DATE
		;
	</update>
</mapper>