<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.WorkHistoryManagementMapper">
	
	<resultMap id="TimeRecordWithEmployeeAndAbsenceReasonResult"
		type="com.example.webapp.entity.TimeRecord">
		<id property="date" column="date" />
		<id property="employeeId" column="employee_id"/>
		<result property="employeeName" column="employee_name" />
		<result property="clockIn" column="clock_in"/>
		<result property="clockOut" column="clock_out"/>
		<result property="workTime" column="work_time"/>
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<association property="absenceReason" javaType="com.example.webapp.entity.AbsenceReason">
			<result property="name" column="reason_name"/>
		</association>
<!--		<association property="employee"-->
<!--			javaType="com.example.webapp.entity.Employee">-->
<!--			<id property="employeeId" column="employee_id" />-->
<!--			<result property="name" column="name" />-->
<!--		</association>-->
	</resultMap>
	
<!--	<resultMap id="EmployeeMap" type="com.example.webapp.entity.Employee">-->
<!--		<id property="employeeId" column="id"/>-->
<!--	</resultMap>-->

	<select id="selectAllToDateByMonth"
		resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  s.date
		  ,s.employee_id
		  ,e.name AS employee_name
		  ,t.clock_in
		  ,t.clock_out
		  ,SUBTIME(t.clock_out, t.clock_in) AS work_time
		  ,t.created_at
		  ,t.updated_at
		  ,CASE
		    WHEN t.clock_in IS NULL AND ar.name IS NULL THEN '不明'
		    WHEN t.clock_in IS NULL AND is_approve IS NULL THEN '可否忘れ'
		    WHEN t.clock_in IS NULL AND is_approve='false' THEN '無断欠勤'
		    WHEN t.clock_in IS NULL AND is_approve='true' THEN ar.name		    
		    ELSE " "
		    END AS reason_name
		FROM
		  test_shift_schedules AS s
		  INNER JOIN test_employees AS e
	 	  ON s.employee_id = e.id
		  LEFT JOIN test_time_records AS t
		  ON s.date=t.date
		     AND s.employee_id=t.employee_id
	 	  LEFT JOIN test_absence_applications AS a
	 	  ON a.shift_id=s.id
	 	  LEFT JOIN test_absence_reasons AS ar
	 	  ON a.reason_id=ar.id
	 	WHERE
	 	  MONTH(s.date)=#{targetMonth}
	 	  AND s.date &lt; CURRENT_DATE
		ORDER BY s.date ASC
		;
<!--		SELECT-->
<!--		  t.date-->
<!--		  ,t.employee_id-->
<!--		  ,e.name-->
<!--		  ,t.clock_in-->
<!--		  ,t.clock_out-->
<!--		  ,SUBTIME(t.clock_out, t.clock_in) AS work_time-->
<!--		  ,t.created_at-->
<!--		  ,t.updated_at-->
<!--		FROM-->
<!--		  test_time_records AS t-->
<!--		  INNER JOIN test_employees AS e-->
<!--	 	  ON t.employee_id = e.id-->
<!--		WHERE-->
<!--		  MONTH(t.date) = #{targetMonth}-->
<!--		ORDER BY t.date ASC-->
<!--		;-->
	</select>

	<select id="selectToDateByEmployeeIdAndMonth"
		resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  s.date
		  ,s.employee_id
		  ,e.name AS employee_name
		  ,t.clock_in
		  ,t.clock_out
		  ,SUBTIME(t.clock_out, t.clock_in) AS work_time
		  ,CASE
		    WHEN t.clock_in IS NULL AND ar.name IS NULL THEN '不明'
		    WHEN t.clock_in IS NULL AND is_approve IS NULL THEN '可否忘れ'
		    WHEN t.clock_in IS NULL AND is_approve='false' THEN '無断欠勤'
		    WHEN t.clock_in IS NULL AND is_approve='true' THEN ar.name		    
		    ELSE " "
		    END AS reason_name
		FROM
		  test_shift_schedules AS s
		  INNER JOIN test_employees AS e
	 	  ON s.employee_id = e.id
		  LEFT JOIN test_time_records AS t
		  ON s.date=t.date
		     AND s.employee_id=t.employee_id
	 	  LEFT JOIN test_absence_applications AS a
	 	  ON a.shift_id=s.id
	 	  LEFT JOIN test_absence_reasons AS ar
	 	  ON a.reason_id=ar.id
		WHERE
		  MONTH(t.date) = #{targetMonth}
		  AND s.date &lt; CURRENT_DATE
		  AND t.employee_id = #{employeeId}
		ORDER BY s.date ASC
		;
	</select>
	
<!--	これは廃止するかも-->
<!--→やっぱ使う-->
	<select id="selectByMonth">
		SELECT
		  DISTINCT e.id AS employeeId
		  ,e.name 
		FROM
		  test_shift_schedules s
		  INNER JOIN test_employees e
		  ON s.employee_id = e.id
		WHERE
		  MONTH(s.date) = #{targetMonth}
		;
	</select>
	
<!--	履歴編集で使用-->
	<select id="selectByEmployeeIdAndDate" resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  t.date
		  ,t.clock_in
		  ,t.clock_out
		  ,t.employee_id
		  ,e.name AS employee_name
		FROM
		  test_time_records AS t
		  INNER JOIN test_employees AS e
	 	  ON t.employee_id = e.id
		WHERE
		  t.date=#{date}
		  AND t.employee_id=#{employeeId}
		;
	</select>
	
	<update id="update">
		UPDATE
		  test_time_records
		SET
		  clock_in = #{clockIn}
		  ,clock_out = #{clockOut}
		  ,updated_at = NOW()
		WHERE
		  date=#{date}
		  AND employee_id=#{employeeId}
		;
	</update>
	
</mapper>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper-->
<!--	namespace="com.example.webapp.repository.WorkHistoryManagementMapper">-->
<!--	<resultMap id="ShiftAndTimeRecordWithEmployeeAndAbsenceReasonResult"-->
<!--		type="com.example.webapp.entity.ShiftAndTimeRecord">-->
<!--		<id property="shiftId" column="id" />-->
<!--		<result property="date" column="date" />-->
<!--		<result property="start" column="start" />-->
<!--		<result property="end" column="end" />-->
<!--		<result property="workTime" column="work_time"/>-->
<!--		<result property="createdAt" column="created_at" />-->
<!--		<result property="updatedAt" column="updated_at" />-->
<!--		<association property="employee"-->
<!--			javaType="com.example.webapp.entity.Employee">-->
<!--			<id property="employeeId" column="employee_id" />-->
<!--			<result property="name" column="name" />-->
<!--		</association>-->
<!--	</resultMap>-->
	
<!--	<resultMap id="EmployeeMap" type="com.example.webapp.entity.Employee">-->
<!--		<id property="employeeId" column="id"/>-->
<!--	</resultMap>-->

<!--	<select id="selectAllToDateByMonth"-->
<!--		resultMap="ShiftAndTimeRecordWithEmployeeAndAbsenceReasonResult">-->
<!--	SELECT-->
<!--	  s.id-->
<!--	  ,s.date-->
<!--	  ,s.start-->
<!--	  ,s.end-->
<!--	  ,SUBTIME(s.end,s.start) AS work_time-->
<!--	  ,s.created_at-->
<!--	  ,s.updated_at-->
<!--	  ,s.employee_id-->
<!--	  ,e.name-->
<!--	FROM-->
<!--	  test_shifts_and_time_records AS s-->
<!--	  INNER JOIN test_employees AS e-->
<!-- 	  ON s.employee_id = e.id-->
<!--	WHERE-->
<!--	  MONTH(s.date) = #{targetMonth}-->
<!--	ORDER BY s.date ASC-->
<!--	;-->
<!--	</select>-->

<!--	<select id="selectToDateByEmployeeIdAndMonth"-->
<!--		resultMap="ShiftAndTimeRecordWithEmployeeAndAbsenceReasonResult">-->
<!--	SELECT-->
<!--	  s.id-->
<!--	  ,s.date-->
<!--	  ,s.start-->
<!--	  ,s.end-->
<!--	  ,SUBTIME(s.end,s.start) AS work_time-->
<!--	  ,s.created_at-->
<!--	  ,s.updated_at-->
<!--	  ,s.employee_id-->
<!--	  ,e.name -->
<!--	FROM-->
<!--	  test_shifts_and_time_records AS s-->
<!--	  INNER JOIN test_employees e-->
<!--	  ON s.employee_id=e.id-->
<!--	WHERE-->
<!--	  MONTH(s.date) = #{targetMonth}-->
<!--	  AND s.employee_id = #{employeeId}-->
<!--	;-->
<!--	</select>-->
	
<!--	<select id="selectByMonth" resultMap="EmployeeMap">-->
<!--	SELECT-->
<!--	  DISTINCT e.id-->
<!--	  ,e.name-->
<!--	FROM-->
<!--	  test_shifts_and_time_records s-->
<!--	  INNER JOIN test_employees e-->
<!--	  ON s.employee_id = e.id-->
<!--	WHERE-->
<!--	  MONTH(s.date) = #{targetMonth}-->
<!--	;-->
<!--	</select>-->
	
<!--	<select id="selectByDateAndEmployeeId" resultMap="ShiftAndTimeRecordWithEmployeeAndAbsenceReasonResult">-->
<!--	SELECT-->
<!--	  s.id-->
<!--	  ,s.date-->
<!--	  ,s.start-->
<!--	  ,s.end-->
<!--	  ,s.employee_id-->
<!--	  ,e.name-->
<!--	FROM-->
<!--	  test_shifts_and_time_records AS s-->
<!--	  INNER JOIN test_employees AS e-->
<!-- 	  ON s.employee_id = e.id-->
<!--	WHERE-->
<!--	  s.id = #{shiftId}-->
<!--	;-->
<!--	</select>-->
	
<!--	「updatedStart」とかのほうがわかりやすいが、フォームクラスのフィールド名がstart,end,idなのでそのまま利用-->
<!--	<update id="update">-->
<!--	UPDATE-->
<!--	  test_shifts_and_time_records-->
<!--	SET-->
<!--	  start = #{start}-->
<!--	  ,end = #{end}-->
<!--	  ,updated_at = NOW()-->
<!--	WHERE-->
<!--	  id = #{shiftId}-->
<!--	;-->
<!--	</update>-->
	
<!--</mapper>-->