<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.webapp.repository.WorkHistoryManagementMapper">
	
	<resultMap id="TimeRecordWithEmployeeAndAbsenceReasonResult"
		type="com.example.webapp.entity.TimeRecord">
		<id property="date" column="date" />
		<id property="employeeId" column="employee_id"/>
		<result property="employeeName" column="employee_name" />
		<result property="clockIn" column="clock_in"/>
		<result property="clockOut" column="clock_out"/>
<!--		<result property="workTime" column="work_time"/>-->
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<association property="absenceReason" javaType="com.example.webapp.entity.AbsenceReason">
			<result property="name" column="reason_name"/>
		</association>
	</resultMap>

	<select id="selectAllByMonth"
		resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  s.date
		  ,s.employee_id
		  ,e.name AS employee_name
		  ,t.clock_in
		  ,t.clock_out
<!--		  ,SUBTIME(t.clock_out, t.clock_in) AS work_time-->
          ,t.created_at
          ,t.updated_at
		  ,CASE
		    WHEN t.clock_in IS NULL AND a.reason_id IS NULL THEN '理由不明'
		    WHEN t.clock_in IS NULL AND a.is_approve IS NULL THEN '承認忘れ'
		    WHEN t.clock_in IS NULL AND a.is_approve=false THEN '未承認'
		    WHEN t.clock_in IS NULL AND a.is_approve=true THEN ar.name	    
		    ELSE " "
		    END AS reason_name
		FROM
		  shift_schedules AS s
		  INNER JOIN employees AS e
	 	  ON s.employee_id = e.id
		  LEFT JOIN time_records AS t
		  ON s.date=t.date
		     AND s.employee_id=t.employee_id
	 	  LEFT JOIN absence_applications AS a
	 	  ON a.shift_id=s.id
	 	  LEFT JOIN absence_reasons AS ar
	 	  ON a.reason_id=ar.id
	 	WHERE
	 	  MONTH(s.date)=#{targetMonth}
  	 	  AND s.date &lt; CURRENT_DATE  
		ORDER BY s.date ASC
		;
	</select>

	<select id="selectByEmployeeIdAndMonth"
		resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  s.date
		  ,s.employee_id
		  ,e.name AS employee_name
		  ,t.clock_in
		  ,t.clock_out
<!--		  ,SUBTIME(t.clock_out, t.clock_in) AS work_time-->
		  ,t.created_at
          ,t.updated_at
		  ,CASE
		    WHEN t.clock_in IS NULL AND a.reason_id IS NULL THEN '不明'
		    WHEN t.clock_in IS NULL AND a.is_approve IS NULL THEN '承認忘れ'
		    WHEN t.clock_in IS NULL AND a.is_approve=false THEN '未承認'
		    WHEN t.clock_in IS NULL AND a.is_approve=true THEN ar.name	    
		    ELSE " "
		    END AS reason_name
		FROM
		  shift_schedules AS s
		  INNER JOIN employees AS e
	 	  ON s.employee_id = e.id
		  LEFT JOIN time_records AS t
		  ON s.date=t.date
		     AND s.employee_id=t.employee_id
	 	  LEFT JOIN absence_applications AS a
	 	  ON a.shift_id=s.id
	 	  LEFT JOIN absence_reasons AS ar
	 	  ON a.reason_id=ar.id
		WHERE
		  MONTH(s.date) = #{targetMonth}
		  AND s.date &lt; CURRENT_DATE
		  AND s.employee_id = #{employeeId}
		ORDER BY s.date ASC
		;
	</select>
	
	<select id="selectEmployeeByMonth">
		SELECT
		  DISTINCT e.id AS employeeId
		  ,e.name 
		FROM
		  shift_schedules s
		  INNER JOIN employees e
		  ON s.employee_id = e.id
		WHERE
		  MONTH(s.date) = #{targetMonth}
		;
	</select>
	
<!--	履歴編集で使用-->
	<select id="selectByEmployeeIdAndDate" resultMap="TimeRecordWithEmployeeAndAbsenceReasonResult">
		SELECT
		  t.date
		  ,t.clock_in
		  ,t.clock_out
		  ,t.employee_id
		  ,e.name AS employee_name
		FROM
		  time_records AS t
		  INNER JOIN employees AS e
	 	  ON t.employee_id = e.id
		WHERE
		  t.date=#{date}
		  AND t.employee_id=#{employeeId}
		;
	</select>
	
	<update id="update">
		UPDATE
		  time_records
		SET
		  clock_in = #{clockIn}
		  ,clock_out = #{clockOut}
		  ,updated_at = NOW()
		WHERE
		  date=#{date}
		  AND employee_id=#{employeeId}
		;
	</update>
	
	<delete id="deleteAllTimeRecords">
		DELETE FROM
		  time_records
		WHERE
		  employee_id=#{employeeId}
		;
	</delete>
	
</mapper>