<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>勤怠システムホーム</title>
    <link th:rel="stylesheet" href="css/mystyle.css">
    <meta name="viewpoint" content="width=device-width">
</head>

<body>
    <header>

    </header>
    <article>
        <p>
            <a href="/time_recorder">タイムレコーダー</a>
        </p>        
        <p>
            <a href="/shift">シフト表/シフト管理トップ</a>
        </p>
        <p>
            <a href="/employees">従業員管理トップ</a>
        </p>
    </article>
</body>

</html>