<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>従業員管理</title>
    <link rel="stylesheet" href="css/mystyle.css">
    <meta name="viewpoint" content="width=device-width">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="time_recorder.html">勤怠トップ</a></li>
                <li><a href="">シフト表/勤怠履歴</a></li>
                <li><a href="">シフト管理</a></li>
                <li><a href="manage_employees.html">従業員管理</a></li>
                <li class="li-admin"><a href="index.html">ホームへ戻る</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <h1>従業員管理</h1>
        <p><a href="" class="new">新規登録</a></p>
        <h1>従業員一覧</h1>
    </article>
</body>

</html>