<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>従業員シフト提出</title>
    <link rel="stylesheet" href="css/mystyle.css">
    <meta name="viewpoint" content="width=device-width">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="">シフト表</a></li>
                <li><a href="">シフト管理</a></li>
                <li><a href="shift_register.html">従業員シフト提出</a></li>
                <li class="li-admin"><a href="index.html">ホームへ戻る</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <h1>従業員シフト提出</h1>
        <p>!ログインを求める!</p>
        <h2>現在：〇〇〇〇 さんでログインしています</h2>
        <p style="font-weight:bold">4月のシフトを提出してください（提出期限：3月20日）</p>
        
        <p>今月の希望は<br><span style="font-weight: bold;">〇〇</span><br>で提出済みです</p>
        <form>
            <p>
                <label for="check">変更はありますか？<br>
                    <button type="submit" class="sub-button2">ある</button>
                    <button type="submit" class="sub-button2">ない</button>
                </label>
            </p>
        </form>
    </article>
</body>

</html>