<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>パスワードフォーム</title>
	<link th:rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-index">
					<a th:href="@{/employees}">戻る</a>>
				</li>
			</ul>
		</nav>
	</header>
	<h1 th:if="${passwordForm.isNew}">パスワード登録</h1>
	<h1 th:unless="${passwordForm.isNew}">パスワード再設定</h1>
	<form th:action="@{/password/update}" th:object="${passwordForm}" method="post">
		<p th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"class="error-message">
			パスワード不一致
		</p>
		<input type="hidden" value="${employeeForm.employeeId}" th:field="*{employeeId}">
		<input type="hidden" value="${passwordForm.isNew}" th:field="*{isNew}">
		<table>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="password" th:field="*{newRawPassword}">
				</td>
			</tr>
			<tr>
				<th>パスワード（確認用）　</th>
				<td>
					<input type="password" th:field="*{confirmPassword}">
				</td>
			</tr>
		</table>
		<input th:if="${passwordForm.isNew}" type="submit" value="登録">
		<input th:unless="${passwordForm.isNew}" type="submit" value="再設定">
	</form>
</body>

</html>