<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<link rel="stylesheet" href="/css/mystyle.css">
	<title>シフト作成画面</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-index">
					<a th:href="@{/admin}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<p th:if="${message}" th:text="${message}" style="color:blue"></p>
		<div th:if="${isNew}">
			<p>未提出者:
				<span th:each="employee : ${notSubmits}" th:text="|${employee.name}&nbsp;&nbsp;|"
					style="color:red;font-weight: bold;"></span>
			</p>
			<form id="shift-form" th:action="@{/shift/edit/create}" method="post">
				<input type="hidden" name="selectedDatesJson" id="selectedDatesInput" value="[]">
				<input type="submit" value="作成">
				<div style=" display:flex">
					<div id="external-events">
						<p>
							<strong>従業員</strong>
						</p>
						<div class="fc-event fc-h-event fc-daygrid-event" th:each="employee:${allEmployees}">
							<div class="fc-event-main" th:id="${employee.id}">
								<span th:text="${employee.name}"></span>
							</div>
						</div>
					</div>
					<div id="calendar" style="width:80%;margin:0 auto" class="shift-edit"></div>
				</div>
			</form>
			<script th:src="@{/js/shift/edit-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${requests}]]*/)});
			</script>
		</div>
		<div th:unless="${isNew}">
			<p>来月のシフトは以下の日程で作成済みです</p>
			<p>変更はありますか？</p>
			<div class="shift-confirm">
				<!--				<form th:action="@{/shift/edit/renew}" method="get">-->
				<!--					<button type="submit" class="sub-button2">ある(再作成)</button>-->
				<!--				</form>-->
				<!--				<form th:action="@{/admin}" method="get">-->
				<!--					<button type="submit" class="sub-button2">ない</button>-->
				<!--				</form>-->
				<a th:href="@{/shift/edit/renew}">ある(再作成)</a>
				<a th:href="@{/admin}">ない</a>
			</div>
			<div id="calendar" style="width:80%;margin:0 auto" class="shift-edit"></div>
			<script th:src="@{/js/shift/confirm-edit-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${shiftsOfNextMonth}]]*/)});
			</script>
		</div>
	</article>
</body>

</html>