<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<link rel="stylesheet" href="/css/mystyle.css">
	<script th:src="@{/js/shiftRequestForm.js}"></script>
	<title>シフト提出画面</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/shift">シフト表</a></li>
				<li class="li-admin">
					<form method="post" name="logout" th:action="@{/logout}">
						<a href="javascript:logout.submit()">ホームへ戻る</a>
					</form>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<p>現在&nbsp;<span th:text="${#authentication.principal.name}"
				style="font-weight: bold;"></span>&nbsp;さんでログインしています</p>

		<form id="shift-form" th:action="@{/shift/submit}" method="post">
			<input type="hidden" name="employee_id" th:value="${#authentication.principal.id}">
			<input type="hidden" name="selectedDatesJson" id="selectedDatesInput" value="[]">
			<input type="submit" value="提出">
			<button id="clear-selection" type="button">すべての選択を解除</button>
			<div id="calendar" style="width:80%;margin:0 auto" class="shift-request"></div>
		</form>

		<script type="text/javascript" th:inline="javascript">
			document.addEventListener('DOMContentLoaded', initializeCalendar());
		</script>

		<!--	<script>-->
		<!--		document.addEventListener('DOMContentLoaded', function () {-->
		<!--	</script>-->
	</article>
</body>

</html>