<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset='utf-8' />
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<link rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<div th:fragment="registration-modal" class="modal">
		<div class="modal-content">
			<label id="closer" class="closer">×</label>
			<div class="modal-content-title">
				<h2 class="title">メニューの新規登録</h2>
			</div>
			<form th:action="@{registration}">
				<div class="modal-content-row">
					<span class="material-symbols-outlined material-symbols-big-font">edit_calendar</span>
					<input id="eating-date" type="date">
				</div>
				<div class="modal-content-row">
					<div class="modal-content-icon"><span
							class="material-symbols-outlined material-symbols-big-font">chat_info</span></div>
					<div class="modal-content-input-area">
						<input id="meal-type-1" type="radio" name="meal-types">
						<label for="meal-type-1">朝食</label>
						<input id="meal-type-2" type="radio" name="meal-types">
						<label for="meal-type-2">昼食</label>
						<input id="meal-type-3" type="radio" name="meal-types">
						<label for="meal-type-3">夕食</label>
					</div>
				</div>
				<div class="modal-content-row">
					<div class="modal-content-icon"><span
							class="material-symbols-outlined material-symbols-big-font">restaurant</span></div>
					<div class="modal-content-input-area">
						<input type="text" placeholder="料理名を入力">
					</div>
				</div>
				<div class="modal-content-row">
					<span class="material-symbols-outlined material-symbols-big-font">description</span>
					<input type="text" placeholder="メモを入力">
				</div>
				<div class="submit">
					<input type="submit" value="上記内容で登録" class="submit-button">
				</div>
			</form>
		</div>
	</div>
</body>

</html>