<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<link rel="stylesheet" href="/css/mystyle.css">
	<title>シフト提出画面</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-admin">
					<a th:href="@{/shift}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<p>現在&nbsp;<span th:text="${#authentication.principal.name}"
				style="font-weight: bold;"></span>&nbsp;さんでログインしています</p>
		<p th:if="${message}" th:text="${message}" style="color:blue"></p>
		<div th:if="${shiftRequestForm.isNew}">
			<form id="shift-form" th:action="@{/shift/request/submit}" method="post">
				<input type="hidden" name="employee_id" th:value="${#authentication.principal.id}">
				<input type="hidden" name="selectedDatesJson" id="selectedDatesInput" value="[]">
				<input type="submit" value="提出">
				<button id="clear-selection" type="button">すべての選択を解除</button>
				<div id="calendar" style="width:80%;margin:0 auto" class="shift-request"></div>
			</form>

			<script th:src="@{/js/shift/request-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', initializeCalendar());
			</script>
		</div>
		<div th:unless="${shiftRequestForm.isNew}">
			<p>来月の希望シフトは以下の日程で提出済みです</p>
			<p>変更はありますか？</p>
			<div style="display:flex;justify-content: space-between;width:120px;margin:0 auto;">
				<form th:action="@{/shift/request/renew}" method="get">
					<button type="submit" class="sub-button2">ある(再作成)</button>
				</form>
				<form th:action="@{/shift}" method="get">
					<button type="submit" class="sub-button2">ない</button>
				</form>
			</div>
			<div id="calendar" style="width:80%;margin:0 auto" class="shift-request"></div>
			<script th:src="@{/js/shift/confirm-requests-calendar.js}"></script>
			<script type="text/javascript" th:inline="javascript">
				document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${shiftRequestForm.requests}]]*/)});
			</script>
		</div>
	</article>
</body>

</html>