<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>シフト表</title>
	<link rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.6/index.global.min.js"></script>
	<script th:src="@{/js/shift/view-schedule-calendar.js}"></script>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li th:if="${from}=='user'"><a th:href="@{/shift/request}">従業員シフト提出</a></li>
				<li class="li-index">
					<a th:href="${from}=='user'?@{/user}:@{/time-recorder}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<div id='calendar'></div>
		<script type="text/javascript" th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function () {initializeCalendar(/*[[${shifts}]]*/)});
		</script>
	</article>
</body>

</html>