<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員詳細</title>
	<link th:rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-index">
					<a th:href="@{/employees}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<h1>従業員詳細</h1>
		<table th:object="${employee}">
			<tr>
				<th>ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th>名前</th>
				<td th:text="*{name}"></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td th:text="*{birth}"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="*{tel}"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text="*{address}">
				</td>
			</tr>
			<tr>
				<th>登録日時</th>
				<td th:text="*{#temporals.format(created_at,'yyyy-MM-dd HH:mm:ss')}">
				</td>
			</tr>
			<tr>
				<th>更新日時</th>
				<td th:text="*{#temporals.format(updated_at,'yyyy-MM-dd HH:mm:ss')}">
				</td>
			</tr>
			<tr>
				<th>パスワード更新日時</th>
				<td th:text="*{#temporals.format(password_updated_at,'yyyy-MM-dd HH:mm:ss')}">
				</td>
			</tr>
		</table>
		<a th:href="@{/employees/edit/{id}(id=${employee.id})}">編集</a>
	</article>
</body>

</html>