<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員フォーム</title>
	<link th:rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="li-index">
					<a th:href="@{/employees}">戻る</a>
				</li>
			</ul>
		</nav>
	</header>
	<h1 th:if="${employeeForm.isNew}">新規従業員登録</h1>
	<h1 th:unless="${employeeForm.isNew}">従業員情報編集</h1>
	<form th:action="${employeeForm.isNew}?@{/password/create}:@{/employees/update}" th:object="${employeeForm}"
		method="post">
		<p th:if="${#fields.hasErrors('*')}" th:each="err:${#fields.errors('*')}" th:text="${err}" class="error-message">
			エラーメッセージ
		</p>
		<input th:unless="${employeeForm.isNew}" type="hidden" th:field="${employeeForm.id}">
		<table>
			<tr>
				<th>名前</th>
				<td>
					<input type="text" th:field="*{name}" required>
				</td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td>
					<input type="text" th:field="*{birth}" required placeholder="例：2025-05-07">
				</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td>
					<input type="text" th:field="*{tel}" required placeholder="例：090-1234-5678">
				</td>
			</tr>
			<tr>
				<th>住所</th>
				<td>
					<input type="text" th:field="*{address}" required>
				</td>
			</tr>
			<tr>
				<th>従業員区別</th>
				<td>
					<label for="admin">管理者
						<input type="radio" th:field="*{authority}" value="ADMIN">
					</label>
					<label for="user">従業員
						<input type="radio" th:field="*{authority}" value="USER">
					</label>
				</td>
			</tr>
		</table>

		<input th:if="${employeeForm.isNew}" type="submit" value="パスワード登録">
		<input th:unless="${employeeForm.isNew}" type="submit" value="更新">
	</form>
</body>

</html>