<!DOCTYPE html>
<html xmlsn="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>従業員管理</title>
	<link rel="stylesheet" href="/css/mystyle.css">
	<meta name="viewpoint" content="width=device-width">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/employees/register">新規従業員登録</a></li>
				<li class="li-admin">
					<form method="post" name="logout" th:action="@{/logout}">
						<a href="javascript:logout.submit()">ホームへ戻る</a>
					</form>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		<h1>従業員一覧</h1>
		<p th:if="${message}" th:text="${message}" style="color:blue">完了メッセージ</p>
		<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red">エラーメッセージ</p>
		<table  style="width:40%">
			<thead>
				<tr>
					<th style="width:10%">ID</th>
					<th style="width:30%">名前</th>
					<th style="width:30%">パスワード再設定</th>
					<th style="width:10%">詳細</th>
					<th style="width:10%">編集</th>
					<th style="width:10%">削除</th>
				</tr>
			</thead>
			<tbody class="emp-list">
				<tr th:each="employee:${employees}">
					<th:block th:object="${employee}">
						<td th:text="*{id}"></td>
						<td th:text="*{name}"></td>
						<td><a th:href="@{/password/reissue/{id}(id=*{id})}">パスワード再設定</td>
						<!--REST形式-->
						<td><a th:href="@{/employees/detail/{id}(id=*{id})}">詳細</a></td>
						<td><a th:href="@{/employees/edit/{id}(id=*{id})}">編集</a></td>
						<td><a th:href="@{/employees/delete/{id}(id=*{id})}">削除</a></tdth>
					</th:block>
				</tr>
			</tbody>
		</table>
	</article>
</body>

</html>